*{
    font-family: 'Work Sans';
}
.header{
    
    height: 801px;
    width: 1600px;
background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.banner{
    display: flex;
    text-align: right;
}
.banner-title{
    position: absolute;
    width: 525px;
        left: 845px;
        top: 216px;
        font-weight: 700;
        font-size: 65px;
        line-height: 76px;
        text-align: right;
        color: #151414;
        
        
}
.banner-subtitle{
    position: absolute;
    width: 494px;
        left: 876px;
        top: 468px;
        font-weight: 400;
        font-size: 16px;
        text-align: right;
        color: #444343;
        margin-top: 24px;

}
.btn{
    position: absolute;
        left: 1210px;
        height: 64px;
        top: 578px;
        background: #F15B22;
        border-radius: 5px;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        border: 0;
}
.Myfailures{
    width: 569px;
height: 723.3px;
background-image: url("../images/person.png");
background-position: left;
background-repeat: no-repeat;
}
.failure{
    display: flex;
    text-align: right;
}
.failure-heading{
    position: absolute;
        width: 288px;
        font-weight: 700;
        font-size: 40px;
        left: 862px;
        top: 1178px;
        text-align: justify;
}
.failure-title{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
font-size: 16px;
    color: #444343;
    text-align: justify;
    
}
.failure-des{
    position: absolute;
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
    color: #444343;
    text-align: justify;
}
.section-title{
    text-align: center;
        font-weight: 700;
        font-size:35px;
        margin-bottom: 50px;
}

.Plans{
    margin-top: 130px;
        position: absolute;
        width: 1141px;
        height: 299.96px;
        left: 230px;
        top: 1792.3px;
   
}
.Plans-container{
    display: flex;
    gap: 24px;
    text-align: right;
}
.Plan{
    background: #FFFFFF;
        box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 30px;
}
.Plan-title{
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.Plan-des{
    font-weight: 400;
        font-size: 16px;
        color: #757575;
       
}

/*positive */
.positive p{
    position: absolute;
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    color: #FFFFFF;
    
}
.positive{
    margin-top: 100px;
        position: absolute;
        width: 1140px;
        height: 300px;
        left: 230px;
        top: 2216.3px;
        background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
        border-radius: 8px;
        background-repeat: no-repeat;
        height: 300px;
}
.btn-1{
position: absolute;
    bottom: 10px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
}
.contact{
    position: absolute;
        display: flex;
        gap: 100px;
        background: #FFF8F3;
        padding: 130px 200px;
        top: 2646.3px;
        color: #F8F8F8;
    
        background: #151414;

}
.contact .section-title{
    text-align: left;
}
.contact input{
    margin-bottom: 24px;
    border: 0;
    width: 50%;
    padding:18px 30px;
}
input{
    height: 24px;
}

.con-des{
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
text-align: bottom;
}
.btn-2{
    position: absolute;
    width: 98.06px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;  
}
